/*--- Snackbar ---*/

.Snackbar {
    display: none;
    min-width: 250px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 25%;
    right: 25%;
    bottom: 5%;
    font-size: 17px;
  }
  
  /*--- Snackbar - fadein animation ---*/

  .Snackbar.show {
    display: block;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 5%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5%px; opacity: 1;}
  }

  /* --- Snackbar - fadeout animation ---*/
  
  .Snackbar.hide {
    display: block;
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s ;
  }
  
  
  @-webkit-keyframes fadeout {
    from {bottom: 5%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 5%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  /* --- Snackbar - alert - Style ---*/

  .Snackbar.alert {
    background-color: #f44336;
    color: #fff;
  }
  
  .Snackbar.alert.success {background-color: #038052;}
  .Snackbar.alert.info {background-color: #2196F3;}
  .Snackbar.alert.warning {background-color: #ff9800;}

  /* --- Snackbar - Closebtn - Style ---*/

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

/* --- SideNav - Left side --- */

.LSidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.LSidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.LSidenav a:hover {
  color: #f1f1f1;
}

.LSidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* --- SideNav - Left side - button --- */
.LSOpenBtn {
  transition: .5s;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 40%;
  left: 0;
  line-height: 1; 
  background-color: #111;
  color: #818181;

}

/* --- SideNav - right side --- */
.RSidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  color:#f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.RSidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

.RSidenav a:hover {
  color: #f1f1f1;
}

.RSidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* --- SideNav - right side - button --- */
.RSOpenBtn {
  transition: .5s;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 40%;
  right: 0;
  line-height: 1; 
  background-color: #111;
  color: #818181;

}

#main {
  transition: .5s;
  padding: 16px;
}

/* --- Sidenav - List --- */
.list{
  line-height: 100%;
  padding: 15px 20px;
  margin: 5px;
  border: 3px solid #1a1adb;
}

/* --- Sidenav - SearchBar --- */
#search {
  background-position: 10px 12px;
  width: 85%;
  left:10px;
  right:10px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  background-color: #111;
  border: 1px solid #dddddd4b;
  margin-bottom: 12px;
}
  /* Use Ctr + f5 to refresh the statics files*/
 