{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/calendar_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/base_css.css' %}">

  {% block style %}
  {% endblock %}
 
</head>
<body id ="body">
    <header id="header">
      <a href="/index/"> Planner </a>
      <a href="/dailytask/0"> Daily task </a>
      <a href="/listtodo/0"> List to do </a>
      <a href="/event/0"> Event </a>
      <a href="/calendar/0/0"> Calendar </a>
    </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>


  <!-- Snackbar - Debug -->
  <br><span style="color:red" > remove the below at the end of the project<span><br>
    snackbar = {{Snackbar}}<br>
    alert = {{alert}}<br>

    <!-- Snackbar-->
    {% if Snackbar %}
    <button onclick="Snackbar()">Show latest warning again </button><br>
      {% if alert == 'success' %}
      <div id="Snackbar" class="Snackbar alert success show">
        <span onclick="Close()" class="closebtn">&times;</span>  
        <strong>Success!</strong> {{Snackbar}} 
        {% if link %} - <a href={{link}}> Link to it.  </a> {% endif %}
      </div>
      {% elif alert == 'info'  %}
      <div id="Snackbar" class="Snackbar alert info show">
        <span onclick="Close()" class="closebtn">&times;</span>  
        <strong>Info!</strong> {{Snackbar}}
        {% if link %} - <a href={{link}}> Link to it. </a> {% endif %}
      </div>
      {% elif alert == 'warning'  %}
      <div id="Snackbar" class="Snackbar alert warning show">
        <span onclick="Close()" class="closebtn">&times;</span>  
        <strong>Warning!</strong> {{Snackbar}}
        {% if link %} - <a href={{link}}> Link to it. </a> {% endif %}
      </div>
      {% elif alert == 'alert'  %}
      <div id="Snackbar" class="Snackbar alert show">
        <span onclick="Close()" class="closebtn">&times;</span>  
        <strong>Error!</strong> {{Snackbar}}
        {% if link %} - <a href={{link}}> Link to it. </a> {% endif %}
      </div>
    {% endif %}
    {% endif %}

<button id="gotop" onclick="gotop()" > 
Go back to the top 
</button>

{% block script %}
{% endblock %}

 <!-- Bootstrap script -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
   crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
   crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
   crossorigin="anonymous"></script>
   <script src="{% static 'script/base_script.js' %}"></script>

</body>
</html>