{% extends 'base_calendar.html' %}

{% block script%}
<script>
  document.addEventListener("DOMContentLoaded",rp());
  document.addEventListener("DOMContentLoaded",hm());

  document.getElementById("id_repeat").addEventListener("change",rp);

  document.getElementById("id_repeatd").addEventListener("change", hm);


  function rp() {
    // Get the repeat element
    var repeat = document.getElementById("id_repeat");
    // Get the specific element
    var specific = document.getElementById("SW");
    // Get the howmany element
    var howmany = document.getElementById("R");
    // Get the util element
    var util = document.getElementById("U");
    // Get the num element
    var num = document.getElementById("num");
    // Get the submit buttom
    var submit = document.getElementById("submit");
    // Get the specific number of times option
    var spc = document.getElementById("spc");
    // Get the forever explanation element
    var expl = document.getElementById("explanation");
    // Get the howmany element's choice value
    var howmany_choice = document.getElementById("id_repeatd");

    switch (repeat.value) {

      case "day":
      case "wek":
          submit.disabled = false;
          specific.style.display = "none";
          howmany.style.display="block";
          expl.style.display = 'block';
          if (howmany_choice.value == "frv"){
            submit.disabled = true;}
        break;
          
      case "nvr":
          specific.style.display = "none";
          howmany.style.display="none";
          util.style.display = "none";
          num.style.display="none";
          submit.disabled = false;
          expl.style.display = 'none';
          break; 

      case "wkd":
          specific.style.display = "block";
          howmany.style.display="block";
          submit.disabled = false;
          expl.style.display = 'block';
          break;
     
         default:
          specific.style.display = "none";
          howmany.style.display="block";
          submit.disabled = false;
          expl.style.display = 'none';
    }

  }



  function hm() {

    // Get the howmany element
    var howmany = document.getElementById("id_repeatd");
    // Get the util element
    var util = document.getElementById("U");
    // Get the num element
    var num = document.getElementById("num");
    // Get the repeat element
    var repeat = document.getElementById("id_repeat");
  
  switch (howmany.value) {

    
      
    case "frv":
      util.style.display = "none";
      num.style.display="none";
      submit.disabled = false;
      if (repeat.value == "frv"|| repeat.value =="wek"){
        submit.disabled = true;}
      break

    case "spc": 
      util.style.display = "none";
      num.style.display="block";
      submit.disabled = false;
      break
      
    default:
      util.style.display = "block";
      num.style.display="none";
      submit.disabled = false;
    }
  }



  
</script>
{% endblock %}

{% block content %}
<!-- if this is the page of a existing event -->
{% if id != 0 %}
    <form id="event" style="margin-top: 30px;" action="/event/{{event.id}}" method="post" >
      <h4> Editing/Viewing a event: </h4>
      {% else %}
    <form id="event" style="margin-top: 30px;" action="/event/0" method="post" >
    <h4> Creating a new event: </h4>
    {% endif %}
    

  {% csrf_token %}
      <p>
  {% if event.title.errors %}
    {{event.title.errors}}<br>
  {% endif %}

  {{event.title.label_tag}}
  {{event.title}}
  
  
</p>


<p>
  {% if event.day.errors %}
    {{event.day.errors}}<br>
  {% endif %}

  {{event.day.label_tag}}
  <input type="date" name="day" value="{{date}}"  required="" id="id_day">

</p>

<p>
  {% if event.start_time.errors %}
    {{event.start_time.errors}}<br>
  {% endif %}
    {{event.start_time.label_tag}}
    {{event.start_time}}
</p>


<p>

  {% if event.end_time.errors %}
    {{event.end_time.errors}}<br>
  {% endif %}
  {{event.end_time.label_tag}}
  {{event.end_time}}
</p>

<p>
  {% if event.description.errors %}
    {{event.description.errors}}<br>
  {% endif %}
  {{event.description.label_tag}}<br>
  {{event.description}}
</p>


<p>
  {% if event.notes.errors %}
    {{event.notes.errors}}<br>
  {% endif %}
  {{event.notes.label_tag}}<br>
  {{event.notes}}
</p>

<p>

{% if event.importance.errors %}
  {{event.importance.errors}}<br>
{% endif %}
{{event.importance.label_tag}}<br>
{{event.importance}}

</p>
<p>
  {% if event.repeat.errors %}
  {{event.repeat.errors}}<br>
{% endif %}
{{event.repeat.label_tag}}<br>
{{event.repeat}}
</p>

<p id ="SW" style="display:none" >
{% if event.repeat_wkd.errors %}
  {{event.repeat_wkd.errors}}<br>
{% endif %}
<label for="id_repeat_wkd">Repeat on which weekdays ?</label><br>
<span class="helptext">Hold Shift or Control to select more than one option</span><br>
{{event.repeat_wkd}}

</p>

<p id="R" style="display:none" >

{% if event.repeatd.errors %}
  {{event.repeatd.errors}}<br>
{% endif %}
{{event.repeatd.label_tag}}<br>
{{event.repeatd}}

<span id='explanation' style="color:red; display:none ">The forever option should not be used with daily, 
  weekly or specific weekdays. It would needlessly use more memory.<br>
  Make use Daily tasks instead. </span>  
</p>

<p id ="U"style="display:none">
{% if event.repeatutil.errors %}
  {{event.repeatutil.errors}}<br>
{% endif %}
  <label for="id_repeatutil">Repeat util:</label>
  <input type="date" value="{{dateu}}" name="repeatutil" id="id_repeatutil">
</p>


<p id ="num" style="display:none">
{% if event.repeatnumber.errors %}
  {{event.repeatnumber.errors}}<br>
{% endif %}
{{event.repeatnumber.label_tag}}<br>
{{event.repeatnumber}}
</p>


<p>
{% if event.color.errors %}
  {{event.color.errors}}<br>
{% endif %}
{{event.color.label_tag}}<br>
  <input type="color" name="color" id="id_color" value="{{event.color.value}}">
</p>

  <input id="submit" type="submit" value="Sumbit">
      </form>
      {% endblock %}