{% extends 'base_calendar.html' %}


{% block content %}

<form id="todo" style="margin-top: 30px;" action="/listtodo/" method="post">
  <h4> Creating a new task: </h4>
  {% csrf_token %}
      <p>
  <label for="id_title">Event's name:</label>
  <input type="text" name="title" maxlength="200" required="" id="id_name">
  
  
</p>


<p>
  <label for="id_quick_description">Quick description:</label>
  <textarea name="quick_description" cols="60" rows="3" id="id_quick_description"></textarea>
  
  
</p>


<p>
  <label for="id_description">Detailed description:</label>
  <textarea name="description" cols="90" rows="5" id="id_description"></textarea>
  
  
</p>


<p>
  <label for="id_steps">This is a Step to completting:</label>
  <select name="steps" id="id_steps" multiple="">
    {% for list in alltodo %}

<option value="{{list.id}}">{{list.title}}</option>
    {% endfor %}

</select>
  
  
</p>


<p>
  <label for="id_duration">How long do you expect this to take ?</label>
  <select name="duration" id="id_duration">
<option value="mi">Minutes</option>

<option value="hs" selected="">Hours</option>

<option value="ds">Days</option>

<option value="wk">Weeks</option>

<option value="mn">Months</option>

<option value="ys">Years</option>

<option value="Pe">Perpetual</option>

</select>
  
  
</p>


<p>
  <label for="id_urgency">How urgent is this task ? can it wait/be delayed?</label>
  <select name="urgency" id="id_urgency">
<option value="vh">very hight</option>

<option value="h">hight</option>

<option value="m" selected="">medium</option>

<option value="l">low</option>

</select>
  
  
</p>


<p>
  <label for="id_importance">How vital is this task ? will It bring great benefits if done? Great demerits if not done?</label>
  <select name="importance" id="id_importance">
    <option value="vh">Essential</option>

    <option value="h">important</option>
  
    <option value="m" selected="">desirable</option>
  
    <option value="l">Curiosity/interest</option>
  
    <option value="vl">trivial</option>

    <option value="cr">Circumstantial</option>
</select>
  
  
</p>


<p>
  <label for="id_progress">What's the progress on this task? :</label>
  <select name="progress" id="id_progress">
<option value="nt" selected="">Not Started</option>

<option value="st">Started</option>

<option value="ip">In Progress</option>

<option value="dn">Done</option>

<option value="fo">forgotten</option>

<option value="fn">forgottten and not started</option>

<option value="hd">Facing hardships</option>

</select>
  
  
</p>


<p>
  <label for="id_notes">Task's Notes:</label>
  <textarea name="notes" cols="60" rows="3" id="id_notes"></textarea>
  
    <span class="helptext">Textual Notes</span>
</p>

<p>
  <label for="id_color">Select this task's color:</label>
  <input type="color" name="color" id="id_color" value="#ff0000">
</p>



      
  <input type="submit" value="Sumbit">
      </form>
{% endblock %}