{% extends 'base_calendar.html' %}
{% block script%}
  <script>
console.log("it worked!")
    </script>
{% endblock %}
{% block style%}
  <style>
    

    
    </style> 
{% endblock%}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body>
    <h2>Snackbar / Toast</h2>
  <p>Snackbars are often used as a tooltips/popups to show a message at the bottom of the screen.</p>
  <p>Click on the button to show the snackbar. It will disappear after 3 seconds.</p>

  <button onclick="Snackbar()">Show Snackbar</button>

  <div >Some text some message..</div>

<!-- Snackbar -->
<span style="color:red" > remove the below at the end of the project</span><br>
<button onclick="Snackbar()">Show Snackbar</button><br>
snackbar = {{Snackbar}}<br>
alert = {{alert}}<br>
{% if Snackbar %}
  {% if alert == 'success' %}
  <div id="Snackbar" class="Snackbar alert success">
    <span onclick="Close()" class="closebtn">&times;</span>  
    <strong>Success!</strong> {{Snackbar}}
  </div>
  {% elif alert == 'info'  %}
  <div id="Snackbar" class="Snackbar alert info">
    <span onclick="Close()" class="closebtn">&times;</span>  
    <strong>Info!</strong> {{Snackbar}}
  </div>
  {% elif alert == 'warning'  %}
  <div id="Snackbar" class="Snackbar alert warning">
    <span onclick="Close()" class="closebtn">&times;</span>  
    <strong>Warning!</strong> {{Snackbar}}
  </div>
  {% elif alert == 'alert'  %}
  <div id="Snackbar" class="Snackbar alert">
    <span onclick="Close()" class="closebtn">&times;</span>  
    <strong>Danger!</strong> {{Snackbar}}
  </div>

{% endif %}
{% endif %}

<!-- Right Sidenav - button -->
<div id="RSOpenBtn" class="RSOpenBtn" style="font-size:30px;cursor:pointer" data-open ='1' onclick="openRNav()">
  o<br>p<br>e<br>n
   </div>
 
      <!-- Right Sidenav -->
   <div id="RSidenav" class="RSidenav ">

    <!-- Sort button -->
    <div>
      Sort:<div id="sort">
    <button id = "sort_importance" class="sort_button" data-criteria="importance" data-orders="asc" data-priority=-1 > by importance </button>
    <button id = "sort_date" class="sort_button" data-criteria="date" data-orders="asc" data-priority=-1 > by date </button>
    </div>
    <!-- Search's input -->
    
      <input type="text" id="search" onkeyup="Search(Case,where)" placeholder="Search for ..." title="Search">
      
      <select name="search_options" id="search_options" style="background-color:grey" onchange="updateSearch();Search(Case,where);">
        <option value="title" selected=""> Title only </option>
      
        <option value="date"> Title and date </option>
      
        <option value="everywhere" >Title, date, descriptions and note</option>
      </select>

      <label for="Case">Case sensitive?</label>
        <input type="checkbox" name="Case" id="Case" onclick="updateSearch();Search(Case,where);">
    </div>
    {% for object in events%}

    <div class="list" data-importance ="{{object.importance}}" data-date ="{{object.day}}" data-year = "{{object.day.year}}"
     data-month = "{{object.day.month}}" data-day ="{{object.day.day}}" data-deadline="{{object.deadline_date}}"> <a href="{{object.get_absolute_url}}">
     {{object.title}}</a>
     <br>{{object.day}} - {{object.start_time}} - {{object.end_time}} -
    
    {% if object.importance == "5" %} <span class="glyphicon glyphicon-alert" style="color:red"></span>&nbsp;<br>
    {% elif object.importance == "4" %} <span class="glyphicon glyphicon-alert" style="color:orange"></span>&nbsp;<br>
    {% elif object.importance == "2" %} <span class="glyphicon glyphicon-alert" style="color:green"></span> &nbsp;<br>
    {% elif object.importance == "1" %} <span class="glyphicon glyphicon-alert" style="color: blue"></span>&nbsp;<br>
    {% elif object.importance == "0" %} <span class="glyphicon glyphicon-alert" style="color: LightBlue"></span>&nbsp;<br>
    {% elif object.importance == "3" %} <span class="glyphicon glyphicon-question-sign" style="color: orange"></span>&nbsp;<br>{% endif %}

    {% if object.short_description %}
    Quick description: {{object.short_description}} <br>
    {% endif %}

    {% if object.description or object.notes %}
    <input type="button" class = "more" id =' more{{object.id}}' style="background-color:grey;" data-id ='{{object.id}}' value="More info">
    {% if object.description %}
    <input type="button" class = "desciption" id="des{{object.id}}" style="background-color:grey;display:none;" data-id ='{{object.id}}' value="Description:" > 
    <span style="display:none" id="description{{object.id}}"><br>{{object.description}}<br></span> 
    {% endif %}
    {% if object.notes%}
    <input type="button" class = "notes" id = "not{{object.id}}" style="background-color:grey;display:none;" data-id ='{{object.id}}' value="Notes:" > 
    <span style="display:none" id="notes{{object.id}}"> <br> {{object.notes}} <br></span>
    {% endif %}
    {% endif %}
  </div>

    {% endfor %}
 </div>
 
 

 

 
</div>
<!---->
   </div>

   <p>Click the button to sort the list by urgency:</p>
   <p><button onclick="sortList('RSidenav','importance')">Sort</button></p>
   <p>Click the button to sort the list by date:</p>
   <p><button onclick="sortList('RSidenav','date')">Sort</button></p>
</body>
<!--
  document.getElementById("RSidenav").children
-->

<script>

  

  
  </script>
  <button id = "sort_importance" data-criteria="importance" data-order="desc" data-place="0" onclick="sortList('RSidenav','importance');arrowUpdate('importance');" style="background-color:grey"> by importance &uarr; </button>
  <button id = "sort_date" data-arrow="up" onclick="sortList('RSidenav','date');arrowUpdate('date');" style="background-color:grey"> by date &uarr;</button> </p>

<script>


  
  </script>

  <div id="myDiv">
    <p data-day="Monday" data-priority="high">Task 1</p>
    <p data-day="Tuesday" data-priority="low">Task 2</p>
    <p data-day="Wednesday" data-priority="medium">Task 3</p>
</div>
</body>
<script>
let div = document.querySelector('#myDiv');
let elements = Array.from(div.children);
console.log(elements);
console.log("it worked");
</script>

<div style="background-color:lightblue"> test 1</div>
<div style="background-color:lightblue; outline: 2px solid red;"> test 2</div>
<br>
<button style="box-shadow: 0px 0px 2px 2px grey inset;"> test 3 </button>
<button style ="box-shadow: none;"> test 4 </button>
<button class="active" aria-pressed="true"> Base button </button>
<button class=".disabled"> Base button </button>

<h1 style:"text-shadow: 2px 2px 2px grey;"> Testing shadow in a text on html </h1>

{% endblock %}

