{% extends 'base_calendar.html' %}

{% block script%}
<script>

  document.addEventListener("DOMContentLoaded",Urgency_Check());
  document.addEventListener("DOMContentLoaded",Step_Check());

  document.getElementById("id_step").addEventListener("change",Step_Check);

  function Step_Check(){

    // Get the step checkbox element
    var step = document.getElementById("id_step");
    // Get the step checkbox element
    var steps = document.getElementById("steps");

    if (step.checked == true){
      steps.style.display = 'block'
  } else {
    steps.style.display = 'none'
  }}


  let urgency_update_check = document.querySelectorAll("#id_deadline,#id_deadline_date,#id_urgency,#id_urgency_update")

  for (const element of urgency_update_check) {
        element.addEventListener('change', Urgency_Check)
    }


  function Urgency_Check(){

    // Get the deadline checkbox element
    var deadline = document.getElementById("id_deadline");
    // Get the deadline date element
    var deadline_date = document.getElementById("deadline_date");
    // Get the urgency_update p
    var urgency_update = document.getElementById("urgency_update");
    // Get the urgency_update p
    var id_urgency_update = document.getElementById("id_urgency_update")
    // Get the urgency element
    var urgency = document.getElementById("id_urgency");
    // Get the update to veryclose element
    var veryclose = document.getElementById("veryclose");
    // Get the update to close element
    var close = document.getElementById("close");
    // Get the update to medium element
    var medium = document.getElementById("medium");
    // Get the update to far element
    var far = document.getElementById("far");
         
    if (deadline.checked == true){
      deadline_date.style.display = 'block'
      urgency_update.style.display = 'block'
      
      switch (urgency.value) {
          case "vl":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'block'
              medium.style.display = 'block'
              far.style.display = 'block'}
            break;

          case "l":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'block'
              medium.style.display = 'block'
              far.style.display = 'none'}
            break;

          case "m":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'block'
              medium.style.display = 'none'
              far.style.display = 'none'}
            break;

          case "h":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'none'
              medium.style.display = 'none'
              far.style.display = 'none'}
            break;

          case "vh":
            urgency_update.style.display = 'none'
            veryclose.style.display = 'none'
            close.style.display = 'none'
            medium.style.display = 'none'
            far.style.display = 'none'
            break;
      }
    
  } else{
    deadline_date.style.display = 'none'
    veryclose.style.display = 'none'
    close.style.display = 'none'
    medium.style.display = 'none'
    far.style.display = 'none'
    urgency_update.style.display = 'none'
  }
  }


</script>
{% endblock %}
{% block content %}

{% if id != 0 %}
    <form id="dailytask" style="margin-top: 30px;" action="/listtodo/{{form.id}}" method="post" >
      <h4> Editing/Viewing a Todo task: </h4>
      {% else %}
    <form id="dailytask" style="margin-top: 30px;" action="/listtodo/0" method="post" >
    <h4> Creating a new Todo task: </h4>
    {% endif %}
    {% csrf_token %}

    <p>
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    </p>
    <p>
        {% if form.errors.title %}
          {{form.errors.title}}<br>
        {% endif %}
        {{form.title.label_tag}}
        {{form.title}}
      </p>
    
          <p>
            {% if form.errors.quick_description %}
              {{form.errors.quick_description}}<br>
            {% endif %}
            {{form.quick_description.label_tag}}<br>
            {{form.quick_description}}
          </p>
    
          <p>
            {% if form.errors.description %}
              {{form.errors.description}}<br>
            {% endif %}
            {{form.description.label_tag}}<br>
            {{form.description}}
          </p>
    
          <p>
            {% if form.errors.step %}
              {{form.errors.step}}<br>
            {% endif %}
            {{form.step.label_tag}}&nbsp; 
            {{form.step}}
          </p>
    
          <p id = "steps" style="display:none">
            {% if form.errors.steps %}
              {{form.errors.steps}}<br>
            {% endif %}
            <label for="id_steps">This task is a step to which task?:</label><br>
            {{form.steps}}
          </p>
          
          <p>
            {% if form.errors.deadline %}
              {{form.errors.deadline}}<br>
            {% endif %}
            {{form.deadline.label_tag}}&nbsp;
            {{form.deadline}}
          </p>

          <p id = "deadline_date" style="display:none">
            {% if form.errors.deadline_date %}
              {{form.errors.deadline_date}}<br>
            {% endif %}
            {{form.deadline_date.label_tag}}
            <input type="date" name="deadline_date" value="{{date}}"  required="" id="id_deadline_date">
          </p>

          <p>
            {% if form.errors.urgency %}
              {{form.errors.urgency}}<br>
            {% endif %}
            {{form.urgency.label_tag}}
            {{form.urgency}}
          </p>

          <p id = "urgency_update" style="display:none">
            {% if form.errors.urgency_update %}
              {{form.errors.urgency_update}}<br>
            {% endif %}
            {{form.urgency_update.label_tag}}&nbsp;
            {{form.urgency_update}}
          </p>

          <p id = "veryclose" style="display:none">
            {% if form.errors.urgency_veryclose_number %}
              {{form.errors.urgency_veryclose_number}}<br>
            {% endif %}
            {{form.urgency_veryclose_number.label_tag}}
            {{form.urgency_veryclose_number}}{{form.urgency_veryclose_type}}
          </p>

          <p id = "close" style="display:none">
            {% if form.errors.urgency_close_number %}
              {{form.errors.urgency_close_number}}<br>
            {% endif %}
            {{form.urgency_close_number.label_tag}}
            {{form.urgency_close_number}}{{form.urgency_close_type}}
          </p>

          <p id = "medium" style="display:none">
            {% if form.errors.urgency_medium_number %}
              {{form.errors.urgency_medium_number}}<br>
            {% endif %}
            {{form.urgency_medium_number.label_tag}}
            {{form.urgency_medium_number}}{{form.urgency_medium_type}}
          </p>

          <p id = "far" style="display:none">
            {% if form.errors.urgency_far_number %}
              {{form.errors.urgency_far_number}}<br>
            {% endif %}
            {{form.urgency_far_number.label_tag}}
            {{form.urgency_far_number}}{{form.urgency_far_type}}
          </p>


          <p>
            {% if form.errors.importance %}
              {{form.errors.importance}}<br>
            {% endif %}
            {{form.importance.label_tag}}
            {{form.importance}}
          </p>

          <p>
            {% if form.errors.progress %}
              {{form.errors.progress}}<br>
            {% endif %}
            {{form.progress.label_tag}}
            {{form.progress}}
          </p>

          <p>
            {% if form.errors.notes %}
              {{form.errors.notes}}<br>
            {% endif %}
            {{form.notes.label_tag}}<br>
            {{form.notes}}
          </p>

          <p>
            {% if form.errors.color %}
              {{form.errors.color}}<br>
            {% endif %}
            {{form.color.label_tag}}<br>
              <input type="color" name="color" id="id_color" value="{{form.color.value}}">
            </p>
    
        <input type="submit" value="Sumbit">
    </form>

{% endblock %}