{% extends 'base_calendar.html' %}

{% block script%}
<script>

  document.addEventListener("DOMContentLoaded",Urgency_Check());
  document.addEventListener("DOMContentLoaded",Step_Check());

  document.getElementById("id_step").addEventListener("change",Step_Check);

  function Step_Check(){

    // Get the step checkbox element
    var step = document.getElementById("id_step");
    // Get the step_to checkbox element
    var step_to = document.getElementById("step_to");

    if (step.checked == true){
      step_to.style.display = 'block'
  } else {
    step_to.style.display = 'none'
  }}


  let urgency_update_check = document.querySelectorAll("#id_deadline,#id_deadline_date,#id_urgency,#id_urgency_update")

  for (const element of urgency_update_check) {
        element.addEventListener('change', Urgency_Check)
    }


  function Urgency_Check(){

    // Get the deadline checkbox element
    var deadline = document.getElementById("id_deadline");
    // Get the deadline date element
    var deadline_date = document.getElementById("deadline_date");
    // Get the urgency_update p
    var urgency_update = document.getElementById("urgency_update");
    // Get the urgency_update p
    var id_urgency_update = document.getElementById("id_urgency_update")
    // Get the urgency element
    var urgency = document.getElementById("id_urgency");
    // Get the update to veryclose element
    var veryclose = document.getElementById("veryclose");
    // Get the update to close element
    var close = document.getElementById("close");
    // Get the update to medium element
    var medium = document.getElementById("medium");
    // Get the update to far element
    var far = document.getElementById("far");
    // Get the warning element
    var warning = document.getElementById("warning")
         
    if (deadline.checked == true){
      deadline_date.style.display = 'block'
      urgency_update.style.display = 'block'
          
      switch (urgency.value) {
          case "vl":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'block'
              medium.style.display = 'block'
              far.style.display = 'block'
              warning.style.display = 'none'}
              else{
                veryclose.style.display = 'none'
                close.style.display = 'none'
                medium.style.display = 'none'
                far.style.display = 'none'
                warning.style.display = 'none'
              }
            break;

          case "l":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'block'
              medium.style.display = 'block'
              far.style.display = 'none'
              warning.style.display = 'none'}
              else{
                veryclose.style.display = 'none'
                close.style.display = 'none'
                medium.style.display = 'none'
                far.style.display = 'none'
                warning.style.display = 'none'
              }
            break;

          case "m":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'block'
              medium.style.display = 'none'
              far.style.display = 'none'
              warning.style.display = 'none'}
              else{
                veryclose.style.display = 'none'
                close.style.display = 'none'
                medium.style.display = 'none'
                far.style.display = 'none'
                warning.style.display = 'none'
              }
            break;

          case "h":
            if (id_urgency_update.checked == true){
              veryclose.style.display = 'block'
              close.style.display = 'none'
              medium.style.display = 'none'
              far.style.display = 'none'
              warning.style.display = 'none'}
              else{
                veryclose.style.display = 'none'
                close.style.display = 'none'
                medium.style.display = 'none'
                far.style.display = 'none'
                warning.style.display = 'none'
              }
            break;

          case "vh":
            urgency_update.style.display = 'none'
            veryclose.style.display = 'none'
            close.style.display = 'none'
            medium.style.display = 'none'
            far.style.display = 'none'
            warning.style.display = 'block'
            break;
      }

    
  } else{
    deadline_date.style.display = 'none'
    veryclose.style.display = 'none'
    close.style.display = 'none'
    medium.style.display = 'none'
    far.style.display = 'none'
    urgency_update.style.display = 'none'
    warning.style.display = 'none'
  }
  }


</script>
{% endblock %}
{% block content %}

{% if id != 0 %}
    <form id="dailytask" style="" action="/listtodo/{{id}}" method="post" >
      <h4> Editing/Viewing a Todo task: </h4>
      {% else %}
    <form id="dailytask" style="" action="/listtodo/0" method="post" >
    <h4> Creating a new Todo task: </h4>
    {% endif %}
    {% csrf_token %}

    <p>
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    </p>

    <p>
      {% if form.errors %}
          {{ form.errors }}
      {% endif %}
      </p>

    <p>
        {% if form.errors.title %}
          {{form.errors.title}}<br>
        {% endif %}
        {{form.title.label_tag}}
        {{form.title}}
      </p>
    
          <p>
            {% if form.errors.quick_description %}
              {{form.errors.quick_description}}<br>
            {% endif %}
            {{form.quick_description.label_tag}}<br>
            {{form.quick_description}}
          </p>
    
          <p>
            {% if form.errors.description %}
              {{form.errors.description}}<br>
            {% endif %}
            {{form.description.label_tag}}<br>
            {{form.description}}
          </p>
    
          <p>
            {% if form.errors.step %}
              {{form.errors.step}}<br>
            {% endif %}
            {{form.step.label_tag}}&nbsp; 
            {{form.step}}
          </p>
    
          <p id = "step_to" style="display:none">
            {% if form.errors.step_to %}
              {{form.errors.step_to}}<br>
            {% endif %}
            <label for="id_step_to">This task is a step to What other task?:</label><br>
            {{form.step_to}}
          </p>
          
          <p>
            {% if form.errors.deadline %}
              {{form.errors.deadline}}<br>
            {% endif %}
            {{form.deadline.label_tag}}&nbsp;
            {{form.deadline}}
          </p>

          <p id = "deadline_date" style="display:none">
            {% if form.errors.deadline_date %}
              {{form.errors.deadline_date}}<br>
            {% endif %}
            {{form.deadline_date.label_tag}}
            <input type="date" name="deadline_date" value="{{deadline_date}}" id="id_deadline_date">
          </p>

          <p>
            {% if form.errors.urgency %}
              {{form.errors.urgency}}<br>
            {% endif %}
            {{form.urgency.label_tag}}
            {{form.urgency}}
            <span id = "warning" style="display:none; color:red" > 
              Auto update isn't avaliable when Urgency is set to Very cloe
              <span/>
          </p>

          <p id = "urgency_update" style="display:none">
            {% if form.errors.urgency_update %}
              {{form.errors.urgency_update}}<br>
            {% endif %}
            {{form.urgency_update.label_tag}}&nbsp;
            {{form.urgency_update}}
          </p>

          <p id = "veryclose" style="display:none">
            {% if form.errors.urgency_veryclose_number %}
              {{form.errors.urgency_veryclose_number}}<br>
            {% endif %}
            {% if form.errors.urgency_veryclose_type %}
              {{form.errors.urgency_veryclose_type}}<br>
            {% endif %}
            {{form.urgency_veryclose_number.label_tag}}
            {{form.urgency_veryclose_number}}{{form.urgency_veryclose_type}}
          </p>

          <p id = "close" style="display:none">
            {% if form.errors.urgency_close_number %}
              {{form.errors.urgency_close_number}}<br>
            {% endif %}
            {% if form.errors.urgency_close_type %}
            {{form.errors.urgency_close_type}}<br>
          {% endif %}
            {{form.urgency_close_number.label_tag}}
            {{form.urgency_close_number}}{{form.urgency_close_type}}
          </p>

          <p id = "medium" style="display:none">
            {% if form.errors.urgency_medium_number %}
              {{form.errors.urgency_medium_number}}<br>
            {% endif %}
            {% if form.errors.urgency_medium_type %}
              {{form.errors.urgency_medium_type}}<br>
            {% endif %}
            {{form.urgency_medium_number.label_tag}}
            {{form.urgency_medium_number}}{{form.urgency_medium_type}}
          </p>

          <p id = "far" style="display:none">
            {% if form.errors.urgency_far_number %}
              {{form.errors.urgency_far_number}}<br>
            {% endif %}
            {% if form.errors.urgency_far_type %}
              {{form.errors.urgency_far_type}}<br>
            {% endif %}
            {{form.urgency_far_number.label_tag}}
            {{form.urgency_far_number}}{{form.urgency_far_type}}
          </p>


          <p>
            {% if form.errors.importance %}
              {{form.errors.importance}}<br>
            {% endif %}
            {{form.importance.label_tag}}
            {{form.importance}}
          </p>

          <p>
            {% if form.errors.duration %}
              {{form.errors.duration}}<br>
            {% endif %}
            {{form.duration.label_tag}}
            {{form.duration}}
          </p>
          
          <p>
            {% if form.errors.progress %}
              {{form.errors.progress}}<br>
            {% endif %}
            {{form.progress.label_tag}}
            {{form.progress}}
          </p>

          <p>
            {% if form.errors.notes %}
              {{form.errors.notes}}<br>
            {% endif %}
            {{form.notes.label_tag}}<br>
            {{form.notes}}
          </p>

          <p>
            {% if form.errors.color %}
              {{form.errors.color}}<br>
            {% endif %}
            {{form.color.label_tag}}<br>
              <input type="color" name="color" id="id_color" value="{{form.color.value}}">
            </p>
    
      <!-- Reset Button -->    
    {% if id != 0 %}
      <div id ='reset?'>
        <input type="button" onclick="resett()" value="Reset"> <br>
      &nbsp; &nbsp;
      </div>

    <div id = "reset" style="display:none">
      <span> Are you sure you want to reset this form back to the orignal? </span> <br>
      <input type="reset" onclick="cancel()" value="Reset"> 
      &nbsp; &nbsp;
      <input type="button" onclick="cancel()" value="Cancel"><br>
    </div>
  {% endif %} 
    <!-- Reset Button --> 


        <input type="submit" value="Sumbit">
    </form>



 <!-- Right Sidenav - button -->
<div id="RSOpenBtn" class="RSOpenBtn" style="font-size:30px;cursor:pointer" data-open ='1' onclick="openRNav()">
  o<br>p<br>e<br>n
   </div>
 
      <!-- Right Sidenav -->
   <div id="RSidenav" class="RSidenav ">

    <!-- Sort button -->


    <div>
      Sort:<div id="sort">
    <button id = "sort_importance" class="sort_button" data-criteria="importance" data-orders="asc" data-priority=-1 data-clicks=0 > by importance </button>
    <button id = "sort_deadline" class="sort_button" data-criteria="deadline" data-orders="asc" data-priority=-1 data-clicks=0 > by deadline </button>
    <button id = "sort_duration" class="sort_button" data-criteria="duration" data-orders="asc" data-priority=-1 data-clicks=0 > by duration </button>
    <button id = "sort_urgency" class="sort_button" data-criteria="urgency" data-orders="asc" data-priority=-1 data-clicks=0 > by urgency </button>
    <button id = "sort_progress" class="sort_button" data-criteria="progress" data-orders="asc" data-priority=-1 data-clicks=0 > by progress </button>

  </div>

    <label for="Case">Show Milestones?</label>
    <!-- !!! create a function that hides/shows todo's that are a milestone to another's todo !!! -->
    <input type="checkbox" name="Case" id="Case" onclick="updateSearch();Search(Case,where);">


    <!-- Search's input -->
    
      <input type="text" id="search" onkeyup="Search(Case,where)" placeholder="Search for ..." title="Search" value="">
      
      <!-- search's options -->
      <select name="search_options" id="search_options" style="background-color:grey" onchange="updateSearch();Search(Case,where);">
        <option value="title" selected=""> Title only </option>
      
        <option value="date"> Title and deadline </option>
      
        <option value="everywhere" >Title, date, descriptions and note</option>
      </select>
      
      <!-- if search should be case sensitive or not-->
      <label for="Case">Case sensitive?</label>
        <input type="checkbox" name="Case" id="Case" onclick="updateSearch();Search(Case,where);">
    </div>

    <!-- go throught the objects in the list, displaying their information -->
    {% for object in list%}

    <div class="list" data-importance ="{{object.importance}}" data-date ="{{object.day}}" data-year = "{{object.day.year}}"
     data-month = "{{object.day.month}}" data-day ="{{object.day.day}}" data-deadline="{{object.deadline_date}}"
     data-duration = "{{object.duration}}" data-urgency = "{{object.urgency}}"
     data-progress = "{% if object.progress == "fn" %}0{% elif object.progress == "nt"%}1{% elif object.progress == "fo"%}2{% elif object.progress == "ip"%}3{% elif object.progress == "hd"%}4{% elif object.progress == "dn"%}5{% endif %}"> 
     <a href="{{object.get_absolute_url}}">
     {{object.title}}</a>
     <br>{{object.day}} - {{object.start_time}} - {{object.end_time}} -
    
    <!-- Symbols to speed up the reading of importance -->
    {% if object.importance == "5" %} <span class="glyphicon glyphicon-alert" style="color:red"></span>&nbsp;<br>
    {% elif object.importance == "4" %} <span class="glyphicon glyphicon-alert" style="color:orange"></span>&nbsp;<br>
    {% elif object.importance == "2" %} <span class="glyphicon glyphicon-alert" style="color:green"></span> &nbsp;<br>
    {% elif object.importance == "1" %} <span class="glyphicon glyphicon-alert" style="color: blue"></span>&nbsp;<br>
    {% elif object.importance == "0" %} <span class="glyphicon glyphicon-alert" style="color: LightBlue"></span>&nbsp;<br>
    {% elif object.importance == "3" %} <span class="glyphicon glyphicon-question-sign" style="color: orange"></span>&nbsp;<br>{% endif %}

    <!-- If object has a short description, show it. -->
    {% if object.short_description %}
    Quick description: {{object.quick_description}} <br>
    {% endif %}
    
    <!-- If object have description,notes or both, show the more option  -->
    {% if object.description or object.notes %}
    <input type="button" class = "more" id =' more{{object.id}}' style="background-color:grey;" data-id ='{{object.id}}' value="More info">
    
    <!-- If object has description -->
    {% if object.description %}
    <input type="button" class = "desciption" id="des{{object.id}}" style="background-color:grey;display:none;" data-id ='{{object.id}}' value="Description:" > 
    <span style="display:none" id="description{{object.id}}"><br>{{object.description}}<br></span> 
    {% endif %}

    <!-- If object has notes -->
    {% if object.notes%}
    <input type="button" class = "notes" id = "not{{object.id}}" style="background-color:grey;display:none;" data-id ='{{object.id}}' value="Notes:" > 
    <span style="display:none" id="notes{{object.id}}"> <br> {{object.notes}} <br></span>
    {% endif %}
    {% endif %}
  </div>

    {% endfor %}
 </div>


{% endblock %}