
p {
    font-size: medium;
}

/* links's Css */
a {
    text-align:right;
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blue;
}
/* ---- */

/* Form's Css */
form{
    text-align:center;
    font-size: medium;
}

input.text{
    border-radius: 2em;
    width: 550px;
    height: 15px;
    padding: 10px;
    font-size: medium;
}

/* Button's Css */
button{
    border-radius: 0.25em;
    font-size: medium;
    border-style: none;
    padding: 5px;
    background: #F8F9Fa;
}

button:hover{
    border: 1px solid rgb(187, 187, 187);
}
/* Advanced search's button's Css */
#adv{
    background-color:#8AB4F8; 
    font-size: medium;
    color:White;
    padding: 5px;
    border-radius: 0.25em;
}
#adv:hover{
    background-color:#a8c4f5;
    font-size: medium;
    color:White;
    padding: 5px;
    border-radius: 0.25em;
}